#
#	MecaBon 
#
#
#

MecaDoku2/MecaDoku/jtalk*.*
MecaDoku2/MecaDoku/*.dll
MecaDoku2/MecaDoku/*.wav
MecaDoku2/MecaDoku/Debug/
MecaDoku2/MecaDoku/x64/
MecaDoku2/MecaDoku/AquesTalk.*
MecaDoku2/ipch/
MecaDoku2/Debug/
MecaDoku2/x64/Debug/Mecabon.*
MecaDoku2/x64/Debug/*.dll
MecaDoku2/x64/Debug/*.lib
MecaDoku2/x64/Debug/*.exp
MecaDoku2/x64/Debug/*.dic
MecaDoku2/x64/Debug/*.zip
MecaDoku2/x64/Debug/Mecabon.pdb
MecaDoku2/x64/Release/Mecabon.pdb
MecaDoku2/x64/Release/*.lib
MecaDoku2/x64/Release/*.exp
MecaDoku2/x64/Release/*.zip
MecaDoku2/x64/Release/AquesTalk.*